*.4ct
*.4tc
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.css
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idv
*.idx
*.ilg
*.ind
*.ist
*.lg
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.odt
*.out
*.pdfsync
*.ps
*.snm
*.swp
*.synctex.gz
*.tdo
*.tmp
*.toc
*.vrb
*.xdy
*.xref
.directory
DoctrinaImperialis/
doctrina2html
